<div class="container">
	<div class="col-xs-12">
		<h1>Shopping List</h1>
			<% @list.each do |item| %>
					<div class="list">
		    		<%= item.name %>
			  	</div>
			<% end %>
		<button class="btn btn-default" id="clear-list" type="submit">Clear List</button>
		<a href="/items"><button class="btn btn-default" id="delete-item" type="submit">Add Items to List</button></a>
	</div>
</div>
