<div class="container">
	<h1>Favorites</h1>
		<% @favorite.each do |favorite| %>
			<div class="panel panel-default">
	  		<div class="panel-body">
	    		<%= favorite.name %>
		    	<button class="btn btn-default" id="add-to-inv" type="submit">Add To Inventory</button>
	  	  	<button class="btn btn-default" id="delete-from-favs" type="submit">Delete</button>
	  		</div>
			</div>
	 <% end %>
</div>

