<div class="container">
	<h1>Favorites</h1>
		<% @favorite.each do |favorite| %>
			<div class="panel panel-default">
	  		<div class="panel-body">
	  		<div class="item-img">
			    	<img class="item-thumb" src="<%= favorite.img_url %>" width="150">
			   </div>
	    		<div class="favorite-name">
	    			<h5><%= favorite.name %></h5>
	    		</div>
	    		<div class="favorite-buttons">
			    	<button class="btn btn-default" id="add-to-inv" type="submit">Add To Inventory</button>
		  	  	<button class="btn btn-default" id="delete-from-favs" type="submit">Delete</button>
	  	  	</div>
	  		</div>
			</div>
	  <% end %>
</div>

