<h1>New User Signup</h1>


<%= form_for :user do |f|  %>
<%= f.text_field :email, placeholder: "Enter your email" %>
<%= f.password_field :password, placeholder: "Create a password" %>
<%= f.submit "Signup" %>
<% end %>