<h1>Factual Results</h1>
 
        <ul>
        <% @results.each do |result| %>
        <% puts result %>
        <% @name = result['product_name'] %>
        <% @url = result["image_urls"] %>
        <% @category = result["category"] %>

          <li> 
<!--           <a href="results/show/?id=<%= result['factual_id'] %>"><%= result['product_name']%></a>
 -->          <%= link_to result['product_name'], results_show_path(:id => result['factual_id']) %>
          </li>
      <% end %>
      </ul>


 