<div class="container">
  <div class="col-xs-12">
    <h1 class="factual">Factual Results</h1>
      <div class="results-list">
        <% @results.each do |result| %> 
          <div class="panel panel-default">
            <div class="panel-body">
                   
                  <% puts result %>
                  <% @name = result['product_name'] %>
                  <% @url = result["image_urls"] %>
                  <% @category = result["category"] %>

                  <% urls = result['image_urls'] %>
                  <% display_name = "#{result['brand']} #{result['product_name']}" %>

                  <% if urls  %>
                    <img class="img-result" width="75" src="<%= urls[0] %>">
                  <% else  %>
                    <img class="img-result" src="PLACEHOLDER FOR NOT FOUND">
                  <% end  %>
                  <div class="link-search">
                  <%= link_to truncate(display_name, length: 35, separator: ' '), results_show_path(:id => result['factual_id']), class: "result-link" %>
                  </div>
            </div>
          </div>
        <% end %> 
      </div>                
  </div>
</div>


 