<div class="container">
	<h1>Inventory</h1>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <% @regulars.each do |i| %>
	    	<%= i.name %>
	    <% end %>
	    	<button class="btn btn-default" type="submit">Add To List</button>
	    	<button class="btn btn-default" type="submit">Delete</button>
	  </div>
	</div>
</div>

