<h1>Inventory</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <% @items.forEach do |i| %>
    	<%= i.image %>
    	<%= i.name %>
    	<button class="btn btn-default" type="submit">Add To List</button>
    	<button class="btn btn-default" type="submit">Delete</button>
    <% end %>
  </div>
</div>

