<div class="container">
	<div class="col-xs-12">
		<h1>Inventory</h1>
		<% @items.each do |item| %>
			<div class="panel panel-default">
	  		<div class="panel-body">
	    		<img src="<%= item.img_url %>">
	    		<%= item.name %>
		    	<button class="btn btn-default" id="add-to-list" type="submit">Add To List</button>
		    	<button class="btn btn-default" id="delete-item" type="submit">Delete</button>
		  	</div>
			</div>
		<% end %>
	</div>
</div>

