<div class="container">
	<div class="col-xs-12">
		<div class="panel panel-default">
	  	<div class="panel-body">
		  		<div class="show-img">
		  			<img src="<%= @item.img_url %>">
		  		</div>
						<h1 class="show-item-name"><%= @item.name %></h1>
		    		<p class="quan">Quantity left: <%= @item.count %></p>
		    		<div class="show-buttons">
		    			<button class="btn btn-default" id="out-of-this" type="submit">I'm out of this!</button>
			    		<button class="btn btn-default" id="add-to-faves" type="submit">Add To Favorites</button>
			    	</div>
		  	</div>
			</div>
	</div>
</div>
