<div class="container">
	<div class="col-xs-12">
		<div class="panel panel-default">
	  	<div class="panel-body">
				<h1><%= @item.name %></h1>
	    		<%= @item.amount_left %>
	    		<button class="btn btn-default" id="out-of-this" type="submit">I'm out of this!</button>
		    	<button class="btn btn-default" id="add-to-faves" type="submit">Add To Favorites</button>
		  	</div>
			</div>
	</div>
</div>