.favorite-name {
	text-align: center;
	font-size: 25px;
	color: black;
	font-family: 'Noticia Text', serif;
}

.favorite-buttons {
	text-align: center;
}

.panel-body {
	/*background-color: #5f8cc9;*/
}

@media (max-width: 400px) {
	.favorite-name {
		font-size: 15px;
		margin-bottom: 10px;
	}
}