


.inv-name {
	display: block;
	vertical-align: top;
	font-size: 20px;
	font-family: 'Noticia Text', serif;
	text-align: center;
  /*border: 1px solid black;*/
}

.inv-buttons {
	display: inline;
	text-align: center;
}

.item-img {
	float: left;
}

.item-name {
	margin-top: 10px;
	margin-bottom: 15px;
}

/*.add-list {
	display: inline;
}

.add-favorites {
	display: inline;
}*/




.show-item-name {
	color: black;
	text-align: center;
	font-family: 'Noticia Text', serif;
	font-size: 20px;
}

.quan {
	color:black;
	text-align: center;
}

.show-buttons {
	text-align: center;
}

.show-img {
	text-align: center;
}



@media (max-width: 400px) {
	.item-thumb {
		width: 75px;
	}
	.item-img {
		float: left;
		/*display: block;*/
		/*text-align: center;*/
	}
	.inv-name {
		font-size: 15px;
	}
	.inv-buttons {
		float: right;
		margin-right: 20px;
		text-align: center;
		/*text-align: center;*/
	}
}

/*@media (min-width: 401px) and (max-width: 600px) {
	img {
		max-height: 100px;
	}
}
*/

.inventory-header {
  font-size: 26px;
  font-family: 'Noticia Text', serif;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.btn-sq-xs {
  background-color: #fea610 !important;
  border: 1px solid #f96523 !important;
  width: 170px !important;
  height: 25px !important;
  padding:2px;
  margin-left: 5px;
  margin-bottom: 10px;
}