// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.inventory-header {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.btn-sq-xs {
  background-color: #441744 !important;
  border: 1px solid #1e0a1e !important;
  width: 170px !important;
  height: 25px !important;
  padding:2px;
  margin-left: 5px;
  margin-bottom: 10px;
}