/*/////Item Index Page/////*/

.inv-img {
	text-align: center;
}

.inv-name {
	display: block;
	vertical-align: top;
	font-size: 30px;
	font-family: 'Noticia Text', serif;;
	text-align: center;
/*	border: 1px solid black;*/
}

.inv-buttons {
	text-align: center;
}

/*/////Item Show Page/////*/

.show-item-name {
	color: black;
	text-align: center;
}

.quan {
	color:black;
	text-align: center;
}

.show-buttons {
	text-align: center;
}

.show-img {
	text-align: center;
}

