
// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  background-color: #fec057;
}

.container {
  color: #ECF0F1;
}

h1 {
	font-family: 'Martel', serif;
	font-weight: bold;
	font-size: 40px;
}

#navBrand {
	font-family: 'Archivo Black', sans-serif;
}

.nav-item {
	font-family: 'Archivo Black', sans-serif;
}

.char1 {
	font-family: 'Covered By Your Grace', cursive;
	text-transform: uppercase;
	font-size: 35px;
	margin:1px;
}

.char2 {
	font-family: 'Covered By Your Grace', cursive;
	text-transform: uppercase;
	font-size: 35px;
	margin:1px;
}

.char3 {
	font-family: 'Covered By Your Grace', cursive;
	text-transform: uppercase;
	font-size: 35px;
	margin:1px;
}

.char4 {
	font-family: 'Covered By Your Grace', cursive;
	text-transform: uppercase;
	font-size: 35px;
	margin:1px;
}