


.results {
	text-align: center;
	margin-bottom: 10px;
}

.result-img {
	margin-top: 15px;
	margin-bottom: 15px;
}

.result-name {
	margin-bottom: 25px;
	font-size: 30px;
}

.results-info {
	text-align: center;
}

.result-name-img {
	text-align: center;
}

.count {
	display: inline-block;
	margin-bottom: 15px;
	text-align: center;
}

.expiration {
	display: inline-block;
	margin-bottom: 15px;
	text-align: center;
	margin-left: 10px;
}

.submit-item {
	display: block;
	color: black;
}



li {
  list-style: none;

  a {

  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;

  :hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  }

  }

}

